<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      layout:decorate="Template">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-2">
        <div class="card">
            <div class="card-header"> Liste des patients : </div>
            <div class="card-body">
                <form method="get" th:action="@{index}">
                    <label> Key Word : </label>
                    <input type="text" name="keyword" th:value="${currentKeyword}">
                    <button type="submit" class="btn btn-primary "> Search </button>
                </form>
                <table class="table ">
                    <thead>
                    <tr>
                        <th> ID : </th> <th> Nom </th>  <th> Date Naissance </th> <th> Malade </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${listPatients}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.nom}"></td>
                        <td th:text="${p.dateNaissance}"></td>
                        <td th:text="${p.malade}"></td>

                        <td sec:authorize="hasRole('ADMIN')">
                            <a class="btn btn-danger" th:href="@{delete(id=${p.id}, keyword=${currentKeyword}, page=${currentPage})}">
                                Delete
                            </a>
                        </td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <a class="btn btn-outline-secondary" th:href="@{editPatient(id=${p.id},keyword=${currentKeyword}, page=${currentPage})}">
                                Edit
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <!--              //  status : {index = 0, count = 1, size = 11, current = 0}-->
                        <a  th:class="${status.index==currentPage?'btn btn-primary ml-1':'btn btn-outline-info ms-1'}"
                            class="btn btn-outline-info ms-1"
                            th:text="${status.index}"
                            th:href="@{index(page=${status.index}, keyword=${currentKeyword})}"
                        ></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</div>



</body>
</html>